# Created by .ignore support plugin (hsz.mobi)
# Default ignored files
/shelf/
/workspace.xml

# Compiled class file
*.class

# target and subfolder
.target

# settings
.settings/

.classpath
.project
.gitignore
codeStyles/

.idea
*.iml
compiler.xml
encodings.xml
google-java-format.xml
jarRepositories.xml
misc.xml
.idea/
src/main/java/com/biswajit/user/model/
src/main/java/com/biswajit/user/service/
src/main/java/com/biswajit/user/util/
src/main/resources/static/
src/test/
